/*
	Structure for horizontal layout
*/

div.horizontal,
nav.horizontal {
	font-size: 0;
}

div.horizontal > *,
nav.horizontal > * {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 16px;
	vertical-align: top;
}




/*
	Foundational Layout
*/

* {
	box-sizing: border-box;
}

html {
	font: 20px/1.25 Lato, Arial, sans-serif;
	text-rendering: optimizeLegibility;
}

html, body {
	height: 100%;
	width: 100%;
	background: hsl(0, 0%, 80%);
	color: hsl(0, 0%, 0%);
}

body {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	margin: 0 auto;
}

article.view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
}

a.inline {
	display: inline-block;
	line-height: 1;
	border-bottom: 2px solid;
}






/* Introduction */

article.home {
	background: hsl(215, 50%, 50%);
}

article.home header {
	padding: 120px 40px 20px;
	color: hsl(120, 0%, 100%);
}

@media only screen and (max-width: 800px) {
	article.home header { padding-top: 15% }
}

article.home header h1 {
	font: 64px/1.2 Lato;
}

article.home header p {
	font: 24px/1.2 Lato;
}

@media only screen and (max-width: 700px) {
	article.home header h1 { font-size: 40px }
	article.home header p { font-size: 18px }
}

article.home main.content {
	background: hsl(0, 0%, 80%);
	-webkit-transform-origin: center -20%;
	transform-origin: center -20%;
}

article.home nav {
	padding: 10px;
}

article.home button.tile {
	height: 60px;
	padding: 0 20px;
	background: hsl(200, 50%, 50%);
	color: hsl(215, 0%, 100%);
}














/* 
article.home main.content {
	max-width: 1000px;
	padding: 80px 40px 20px;
	font-size: 0;
}

article.home main.content p {
	margin-bottom: 20px;
}

article.home main.content p:last-child {
	margin-bottom: 0;
}


article.home button.tile {
	width: 45%;
	height: 200px;
	border-radius: 4px;
	box-shadow: 0 1px 2px #aaa;
	background: white;
	font: 24px/1.2 Lato;
}

article.home main.content {
	padding: 0;
}
 */
















