/*
	specific.css is where all the *-specific CSS goes, e.g. for views/pages, which is not reusable
	Anything promoted to reusable should be in layout.css
*/



/*
	Home
*/

article.home {
	background: hsl(215, 0%, 90%);
}

article.home header {
	padding: 20px 40px 40px;
	color: hsl(215, 0%, 10%);
}

article.home header h1 {
	margin-bottom: 0;
}

article.home header :last-child {
	margin-bottom: 0;
}

article.home main {
	padding: 0;
	background: hsl(0, 0%, 80%);
}

article.home nav {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2%;
	font-size: 0;
	text-align: center;
}

article.home .tile {
	position: relative;
	display: inline-block;
	width: 31%;
	height: 0;
	overflow: hidden;
	padding-top: 25%;
	margin: 1%;
	background: hsl(215, 50%, 50%);
	color: white;
	font-size: 22px;
	vertical-align: top;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

article.home .tile.wide { width: 64% }

@media only screen and (max-width: 960px) {
	article.home .tile { width: 47.5% }
	article.home .tile.wide { width: 97% }
}

@media only screen and (max-width: 480px) {
	article.home .tile { width: 97% }
}

article.home .tile.full { width: 97% }


article.home .tile:focus { outline: 8px solid white }
article.home .tile:hover { background-color: hsl(215, 50%, 60%) }
article.home .tile:active { background-color: hsl(215, 50%, 40%); outline: none }

article.home .tile.disabled {
	background-color: hsl(215, 10%, 50%);
	color: #aaa;
	pointer-events: none;
}

/*
article.home .tile:after {
	position: absolute;
	font: 96px/1 sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0.2;
}

article.home .tile:after { content: '\27A1'; right: .2em; bottom: -.375em }
article.home a.tile:after { content: '\21F2'; right: -.0825em; bottom: -.15em }
article.home a.tile[download]:after { content: '\2B07'; right: 0; bottom: 0; border-bottom: .125em solid; font-size: 80px }
*/

article.home .tile h4 {
	position: absolute;
	bottom: 50%;
	left: 20px;
	right: 20px;
	margin: 0;
	vertical-align: bottom;
	line-height: 1.4;
}

article.home .tile p {
	position: absolute;
	top: 50%;
	left: 20px;
	right: 20px;
	margin: 0;
	opacity: 0.7;
	line-height: 1.1;
}

article.home .tile.article time,
article.home .tile.article .author {
	position: absolute;
	bottom: 50%;
	opacity: .7;
	font: 0.6em/1 Lato, Arial, sans-serif;
}

article.home .tile.article h4 { bottom: 50%; margin-bottom: .6em;}
article.home .tile.article p { top: 50%; margin-top: 1em; }
article.home .tile.article time { left: 20px; }
article.home .tile.article .author { left: 100px; }

@media only screen and (max-width: 480px) {
	article.home .tile.article time { left: 20px; bottom: 5px }
	article.home .tile.article .author { left: 100px; bottom: 5px }
}



article.home .tile.blurb {
/* 	background: hsl(0, 0%, 30%);
	background-image: radial-gradient(800px at 50% 30%, hsl(0, 0%, 40%) 0%, hsl(0, 0%, 50%) 50%);
	color: hsl(0, 0%, 100%); */

	background: radial-gradient(300px at 50% 30%, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 85%) 100%);
	color: hsl(0, 0%,10%);
}

article.home .tile.blurb p {
	position: absolute;
	top: 50px;
	left: 20px;
	right: 20px;
	font: 20px/1.2 Lato, Arial, sans-serif;
	opacity: 1;
}








/*
	Choregraphy.js Article
*/

article.what {}

article.what header {
	padding: 20px 40px 0px;
}

article.what header div.wrap {
	position: relative;
	max-width: 780px;
	padding: 40px 40px 10px;
	margin: 0 auto;
	box-shadow: 0 0 2px #555;
}

article.what header h1 {
	margin-bottom: 0;
}

article.what header .author,
article.what header time {
	display: inline-block;
	margin-right: 20px;
	opacity: .8;
	font: 0.7em/1 Lato, Arial, sans-serif;
}

article.what .status {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.5;
}






/*
	Documentation
*/

article.docs {}






/*
	Download
*/

article.download {}






/*
	FAQ
*/

article.faq main.content {
	padding-bottom: 100px;
}

article.faq dl {
/* 	background: hsl(215, 0%, 90%); */
}

article.faq dt,
article.faq dd {
	position: relative;
	overflow: hidden;
	padding: 10px 10px 10px 40px;
	border-radius: 4px;
	background: hsl(215, 0%, 90%);
}

article.faq dt {
	margin: 40px 0 5px;
}

article.faq dt:first-child {
	margin-top: 0;
}

article.faq dd {
/* 	margin: 5px 0; */
}


article.faq dd + dd {
	border-top: 1px solid hsl(215, 0%, 80%);
	border-radius: 0 0 4px 4px;
	margin-top: -4px;
}


article.faq dt h2,
article.faq dt h3,
article.faq dt h4,
article.faq dt h5,
article.faq dt h6 {
	display: inline-block;
	margin: 0;
}

article.faq dt:before,
article.faq dd:before {
	position: absolute;
	top: -.2em;
	top: 50%;
	left: -.15em;
	font: 2em/0 Lato, Arial, sans-serif;
	color: hsl(0, 0%, 80%);
}

article.faq dt:before { content: 'Q' }
article.faq dd:before { content: 'A' }


